.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.pageButton {
  width: 35px;
  box-sizing: border-box;
  border: none;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: white;
  color: var(--color-dark-300);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.2),
    0px 1px 2px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

.navButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background: white;
  border: 1px solid var(--color-highlight-1);
  transition: all 0.2s;
}

.navButton span {
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  color: var(--color-highlight-1);
}

.left span {
  left: calc(50% - 1px) !important;
}

.navButton:hover {
  color: #fff;
  background-color: var(--color-highlight-1);
}

.navButton:hover span {
  color: #fff;
}

.pageButton:hover {
  background-color: var(--color-highlight-6);
}

.pageButton.active:hover {
  background-color: var(--color-highlight-1);
  color: #fff;
}

.active {
  background-color: var(--color-highlight-1);
  color: #fff;
}

@media (min-width: 1024px) {
  .pageButton {
    width: 46px;
  }
}
